//NEXT: Improve visuals, add vault icons | Filter by coin you want to use (the optimal vault split calculation) 
//Historical CRV yields' site
//For chrome extension https://gasprice.poa.network 
//{"health":true,"block_number":11472414,"slow":174.66,"standard":291.7,"fast":380.1,"instant":442.0,"block_time":12.598}
<template>
  <div>
    <div class="demo">
      <h2>
        How much CRV to boost a vault?
        <br />
      </h2>Select a vault
      <select name="vaults" v-model="optionSelected" @change="getCRVneeded">
        <option v-for="(value, name, index) in vaults" :value="name" :key="index">{{name}}</option>
      </select>
      <br />
      <br />
      <div id="calculations" v-show="optionSelected">
        <h3>{{optionSelected}} vault</h3>
        <span>
          Deposit
          <input type="number" min="0" v-model="deposit" style="width:6em" /> USD (in stablecoins)
        </span>
        <br />
        <div id="crvneeded" v-show="deposit">
          <br />
          <br />
          <table>
            <thead>
              <tr>
                <th>CRV needed for 2.5x boost</th>
                <th>USD value if CRV=${{Math.round(price*100)/100}}</th>
              </tr>
            </thead>
            <tr>
              <td>{{twoDec()}} locked for 4 years</td>
              <td>${{twoDec(1,price)}}</td>
            </tr>
            <tr>
              <td>{{twoDec(0.75)}} locked for 3 years</td>
              <td>${{twoDec(0.75,price)}}</td>
            </tr>
            <tr>
              <td>{{twoDec(0.5)}} CRV locked for 2 years</td>
              <td>${{twoDec(0.5,price)}}</td>
            </tr>
            <tr>
              <td>{{twoDec(0.25)}} CRV locked for 1 year</td>
              <td>${{twoDec(0.25,price)}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="demo">
      <h2>
        How do I maximize APY while locking the smallest amount of CRV?
        <br />
      </h2>
      <span>
        Your deposit
        <input type="number" min="0" v-model="deposit" style="width:6em" /> USD (in stablecoins)
      </span>
      <br />
      <br />
      <button @click="mostEfficient4Vaults">Calculate</button>
      <br />
      <br />
      <div v-show="mostEfficientVaults">
        <table class="firstcolbold">
          <!-- <div v-show="!deposit">You have to write a deposit first</div> -->
          <thead>
            <tr>
              <td v-for="(x,idx) in header" :key="idx">{{x}}</td>
            </tr>
          </thead>
          <tr v-for="(value,idx) in mostEfficientVaults" :key="idx">
            <td v-for="(x,idx) in value" :key="idx">{{x}}</td>
          </tr>
        </table>
        <br />
        <br />
        <table class="firstcolbold">
          <tr v-for="(row,idx) of summaryTable" :key="idx">
            <td v-for="(x,idx) in row" :key="idx">{{x}}</td>
          </tr>
        </table>
        <br />
        *Assuming CRV=${{Math.round(price*100)/100}}
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "BoostApp",
  mounted() {
    axios
      .get(
        "https://api.coingecko.com/api/v3/simple/price?ids=curve-dao-token&vs_currencies=usd"
      )
      .then(res => (this.price = res.data["curve-dao-token"]["usd"]));
  },
  data() {
    return {
      optionSelected: "",
      deposit: "",
      CRVneeded: 0,
      CRVneeded2: 0,
      price: 0.55,
      vaults: {
        //pulled 17-12-2020
        compound: [1.64, 15.26], //max $ per veCRV, APY %
        usdt: [0.01, 8.94],
        y: [3.169, 11.84],
        busd: [1.114, 14.58],
        pax: [0.125, 16.1],
        ren: [4.817, 2.19],
        sbtc: [2.383, 4.71],
        hbtc: [2.496, 12.78],
        "3pool": [4.366, 12.08]
      },
      mostEfficientVaults: null,
      header: ["Vault", "max $ per veCRV", "APY (%)", "Deposit allocation ($)"],
      summaryTable: []
    };
  },
  methods: {
    getCRVneeded() {
      this.CRVneeded = this.vaults[this.optionSelected][0];
    },
    mostEfficient4Vaults() {
      let obj = this.vaults;
      let arr = [];
      for (const key of Object.keys(obj)) {
        let maxAPY = obj[key];
        if (maxAPY[0] > 1 && maxAPY[1] > 10) {
          //Select for max$perveCRV>1 & APY>10%
          arr.push([key].concat(maxAPY)); //["compound", 2.1, 15.26]
        }
      }
      arr.sort((a, b) => b[1] - a[1]); //Sort by max$perveCRV
      arr = arr.slice(0, 4); //limit 4

      // totalInterestAndVaultSplit
      let deposit = this.deposit; //Take from data
      let sumMaxveCRV = arr.reduce((acc, x) => (acc += x[1]), 0); //12.52
      let interestBoost = 0,
        interestRegular = 0;

      arr.forEach(x => {
        let split = Math.round((deposit * x[1]) / sumMaxveCRV);
        interestBoost += Math.round((split * 2.5 * x[2]) / 100);
        interestRegular += Math.round((split * x[2]) / 100);
        x.push(split); //Add deposit split
      });

      let totalAPYBoost = Math.round((interestBoost / deposit) * 100);
      let totalAPYRegular = Math.round((interestRegular / deposit) * 100);
      // this.totalInterest = arr.reduce((acc, x) => (acc += x[4]), 0); //27238
      this.mostEfficientVaults = arr;
      this.CRVneeded2 = Math.round(deposit / sumMaxveCRV);
      let CRVn2 = this.CRVneeded2;
      this.summaryTable = [
        ["Summary", "No boost", "2.5x boost"],
        ["Total interest ($)", interestRegular, interestBoost],
        ["Total APY (%)", totalAPYRegular, totalAPYBoost],
        ["CRV locked for 4 years", "None", CRVn2],
        ["$ value of locked CRV*", 0, Math.round(CRVn2 * this.price)]
      ];
    },
    twoDec(denominator = 1, price = 1) {
      return (
        Math.round(
          ((price * this.deposit) / (this.CRVneeded * denominator)) * 100
        ) / 100
      );
    }
  }
};
</script>

<style>
.demo {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

thead {
  border: 1px solid black;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

.firstcolbold tr:first-child,
.firstcolbold td:first-child {
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
}
</style>